.wrapper {
	display: grid;
	grid-gap: 10px;
	font-family: Arial, sans-serif;
	grid-template-columns: auto;
	grid-template-rows: auto;
	grid-template-areas:
		"heading"
		"post"
		"sidebar";
}
.wrapper > * {
	padding: 1em;
	border-radius: 1em;
}
header {
	background-color: blue;
	color: white;
	grid-area: heading;
}
article {
	background-color: green;
	color: white;
	grid-area: post;
}
aside {
	background-color: yellow;
	grid-area: sidebar;
}
@media (min-width: 650px) { 
	.wrapper {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: auto;
		grid-template-areas:
			"post post post sidebar"
			"heading heading heading heading"; 
	}
}
@media (min-width: 1000px) { 
	.wrapper {
		grid-template-areas:
			"sidebar heading heading heading"
			"sidebar . post post";  
	}
}